@model User

<h2>Edit</h2>


<form asp-action="Edit">
  <div class="text-danger" asp-validation-summary="ModelOnly"></div>
  <input type="hidden" asp-for="Id">
  <div class="mb-3">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}